<app-header></app-header>
<div class="principal"> 

<mat-card class="mat-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="/../../../../../../assets/resaca.jpg" class="mat-card-image">
    <mat-card-content class="mat-card-content">
      <img mat-card-image src="/../../../../../../assets/404.png" class="mat-card-image">
    </mat-card-content>
  </mat-card>
  <div class="col-md-12 text-center">
   <button class="btn btn-primary btn-sm"  routerLink="/cocktail">
    <i class="fa fa-backward fa-lg"></i>
  </button>
  </div>
</div>
<app-footer></app-footer>