
    <div class="principal"> 

       <form [formGroup]="form" class="card"  (ngSubmit)="login(form.value)">
        
        <div class="card">

            <div class="row">
              <div class="col-xs">
                <input formControlName="email" type="text" aria-label="First name" class="form-control" placeholder="Enter Email...">
              </div>
            </div>
            <div class="row">
              <div class="col-xs">
                <input formControlName="password" type="password" aria-label="First name" class="form-control" placeholder="Enter Password...">
              </div>
            </div>
            
    
            
            <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Ingresar</button>
        </div>

    </form>

    <div  *ngIf="error"> 
      <div class="col-xs">
        <div class="alert alert-danger" role="alert">
         {{mensajeError}}
        </div>
      </div>
    </div>
    
  </div>  
    