<div>
<app-header></app-header>
<div class="principal"> 
<mat-card class="mat-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Drink ¡¡¡</mat-card-title>
      <mat-card-subtitle>{{ cocktail?.strDrink }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{cocktail?.strDrinkThumb }}" alt="Photo of a Shiba Inu">
    <mat-card-content class="mat-card.content">
      <p>
        {{ cocktail?.strInstructions }} 
        <br>
        Ingredients : {{ ingredients }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer></app-footer>
<div>
