.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../../../assets/madera.jpg');
    background-size: cover;
  }

  .principal {
    background-image: url('../../../../../assets/madera.jpg');
    background-size: cover;
  }

  .mat-card{
    max-width: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-card-content {
    color: white
  }