<div>
<app-header></app-header>
<div class="principal"> 
<mat-card class="mat-card">
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image src="{{cocktail?.strDrinkThumb }}" class="mat-card-image">
    <mat-card-content class="mat-card-content">
      <p class="p">
        {{ cocktail?.strDrink }}
      </p>
        <br>
        <br>
        Ingredients : {{ ingredients }}
        <br>
        <br>
        {{ cocktail?.strInstructions }}  
    </mat-card-content>
    <mat-card-actions>
     
      <button class="btn btn-primary"  routerLink="/cocktail">volver</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer></app-footer>
<div>
