  
  .mat-card-avatar {
    background-image: url('../../../../../assets/salud.jpeg');
    background-size: cover;
  }

  .principal {
    background-image: url('../../../../../assets/madera.jpg');
    background-size: cover;
  }

  .mat-card{
    max-width: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-card-content {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

  .p{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  }

  .mat-card-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px; 
  }