
<mat-toolbar>
   <div class="row">
     <div *ngIf="asyncDrink$ | async as drinks" class="col"> 
      <button mat-button color="accent" value="{{drinks.idDrink}}" (click)="getCocktailById(drinks.idDrink)">
       <mat-icon>???</mat-icon>
      </button>
    </div>
    <div class="col">
      <input matInput [(ngModel)]="searchLetter" (input)="getCocktailByLetterCocktail()" maxlength="1" style="width: 300px" class="mr5" type="text" placeholder="Buscar por letra inicial...">
    </div>
  </div>
</mat-toolbar>
            <div class="container">
              <cdk-virtual-scroll-viewport itemSize="200" class="viewport">
                <mat-card *cdkVirtualFor="let random of asyncRandom$ | async">
                  <mat-card-header>
                  </mat-card-header>
                  <mat-card-title>Name: {{random.strDrink}}</mat-card-title>
                  <mat-card-content>
                    Category: {{random.strCategory}}
                  <br>
                  Alcoholic: {{random.strAlcoholic}}
                  </mat-card-content>
                  <mat-card-actions>
                    <button type="button"  value="{{ random.idDrink }}" (click)="getCocktailById(random.idDrink)">GO¡¡¡</button>
                  </mat-card-actions>
                </mat-card>
              </cdk-virtual-scroll-viewport>
            </div>

          

 



