.container {
  display: flex;
  align-self: center;
  background-image: url('../../../../../assets/beach.jpg');
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

mat-card {
  height: 200px;
  margin: 2em;
  color: white;
  background-image: url('../../../../../assets/madera.jpg');
}



.viewport {
  height: 400px;
  width: 100%;
  background:black;
  margin: 2em 8em 8em;
  box-shadow: 1px 1px 1px grey;
}
