<p></p>
<br>
<button type="button"  value="{{ cocktail?.idDrink }}" (click)="getCocktailById(cocktail?.idDrink)">Probar nuevo trago ¡¡¡</button>

<input [(ngModel)]="searchLetter" (input)="getCocktailByLetterCocktail()" maxlength="1" style="width: 300px" class="mr5" type="text" placeholder="Buscar...">

<div *ngFor='let c of cocktailLetter'>
    
    <mat-card class="example-card">
        <mat-card-header>
        <mat-icon><img mat-card-image src="{{c?.strDrinkThumb }}/preview"></mat-icon>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ c?.strDrink }}</mat-card-title>
        </mat-card-header>
    </mat-card>

    <button type="button"  value="{{ c?.idDrink }}" (click)="getCocktailById(c?.idDrink)">GO¡¡¡</button>
<br>

    
</div>
