


.vasos {
  height: 150px;
  background-image: url('../../../../../assets/vasos.jpeg');
}

.carousel {
  height: 800px;
  background-color: black;
}



.carousel-item {
  text-align: center;
  
}

.color {
  color: red;
}