.principal  {
    background-image: url('../../../../../assets/madera.jpg');
      background-size: cover;
  }
  
  .mat-card-content {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }