
  .bg {
    background-image: url('../../../../../assets/madera.jpg');
    height: 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

  }

  .card-body, .card-footer, .card-header{
  background-color: black;
}


