
<div class="bg">
<div class="card text-center">
    <div class="card-header">
      <h6 class="badge badge-dark"> PUB</h6>
    </div>
    <div class="card-body">
        <img src="../../../../../assets/beach.jpg" class="card-img-top" alt="...">
      <h6 class="card-title"><h6 class="badge badge-dark"> WELCOME TO THE PUB <i class="fa fa-trademark" aria-hidden="true"></i></h6></h6>
      <h6 class="card-title"><h6 class="badge badge-dark"> FOR ACADEMIC PURPOSES ONLY</h6></h6>
     
    </div>
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary" routerLink="/cocktail" >Go To Pub</button>
    </div>
  </div>
</div>
